html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  margin: 0;
  height: 55vh;
  font-size: 5rem;
  font-family: 'Avenir';
  font-weight: bold;
  background-color: rgb(217, 217, 217);
}

section {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: middle;
  place-items: center;
  height: 100vh;
}