html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/*Button class  */
.btn {
  position: absolute;
	border: 2px solid rgba(217);
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 15px;
	background: rgba(217, 217, 217, 0.3);
    top: 18rem;
    left: 6.5rem;
	color: #FFFFFF;
	outline: none;
}

/* button hover class */
.default:hover {
      background: hsla(220, 90%, 50%, 0.7);
	cursor: pointer;
}
