@import url("https://use.typekit.net/xtt3pjn.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --txt-col: #DDD;
  --dark: #120052;
  --mid: #8A2BE2;
  --light: #B537F2;
  --highlight: #3CB9FC;
  --display: #571AD1;
}


html {
  font-size: 10px;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8A2BE2, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8A2BE2, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: -600;
}

.drum-machine-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 500px;
  margin: 2rem auto;
  padding-top: 3rem;
  border: 1px solid var(--highlight);
  ;
  border-radius: 1rem;
  box-shadow: 0 0 4px var(--highlight), inset 0 0 4px var(--highlight);
  background: var(--dark);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #222, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #222, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.display {
  position: relative;
  width: 70%;
  height: 80px;
  top: -3rem;
  margin: 0 auto;
  border: 1px solid var(--highlight);
  ;
  border-radius: 1rem;
  box-shadow: 0 0 4px var(--highlight), inset 0 0 4px var(--highlight);
  background-color: black;
  background-image: radial-gradient(var(--display), black 120%);
  overflow: hidden;
}

.display::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
  pointer-events: none;
}

.display-txt {
  position: relative;
  text-align: center;
  font-family: acumin-pro, sans-serif;
  font-size: 2.5rem;
  text-shadow: 0 0 5px #C8C8C8;
  margin: 2rem auto;
  user-select: none;
  color: var(--txt-col);
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-gap: 1rem;
}

.pad-synth1,
.pad-synth2,
.pad-synth3,
.pad-hat1,
.pad-hat2,
.pad-clap,
.pad-snare,
.pad-kick,
.pad-open {
  border: 1px solid var(--highlight);
  box-shadow: 0 0 8px var(--highlight), inset 0 0 24px var(--highlight);
  background-color: var(--light);
  width: 8rem;
  height: 8rem;
  transition: 25ms;
}


.sound-packs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 3rem;
  position: relative;
  left: 8rem;
}

.sound-pack-1,
.sound-pack-2,
.sound-pack-3 {
  border: 1px solid var(--highlight);
  border-radius: 50%;
  box-shadow: 0 0 8px var(--highlight), inset 0 0 12px var(--highlight);
  background-color: var(--light);
  width: 3rem;
  height: 3rem;
}

.sound-pack-1 {
  position: relative;
  left: -1rem;
  background-color: var(--highlight);
}

.sound-pack-2 {
  position: relative;
  left: 0rem;
}

.sound-pack-3 {
  position: relative;
  left: 1rem;
}

.toggle {
  border: 1px solid var(--highlight);
  position: relative;
  top: -3rem;
  left: -9.5rem;
  box-shadow: 0 0 8px var(--highlight), inset 0 0 12px var(--highlight);
  background-color: var(--light);
  width: 7rem;
  height: 3rem;
}


.toggle-switch-on {
  position: relative;
  border-radius: 50%;
  box-shadow: inset 0 0 12px orange;
  background-color: var(--light);
  width: 2.75rem;
  height: 2.75rem;
  top: 0.13rem;
  left: 0.05rem;
  transition: 250ms;
}

.toggle-switch-off {
  position: relative;
  border-radius: 50%;
  box-shadow: inset 0 0 12px var(--mid);
  background-color: var(--light);
  width: 2.75rem;
  height: 2.75rem;
  top: 0.15rem;
  left: 4.15rem;
  transition: 250ms;
}