html, body {
  margin: 0;
  padding: 0;
  background: #333333;
}

.video-container{
  display: none;
  width:640px;
  height:390px;
  overflow:hidden;
  position:relative;
  margin: auto;
}

.video-container .player{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container .player {
  pointer-events: none;
}

.video-container iframe{
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
}

.video-foreground{
  pointer-events:none;
}