body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Avenir;
}

button {
  width: 200px;
  margin: auto;
  display: block;
  border: none;
  background-color: rgb(157,157,157);
  padding: 10px;
  color: white;
  font-family: Avenir;
  font-size: 14pt;
}