@import url("https://use.typekit.net/xtt3pjn.css");

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: none;
}

#typedWords {
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-style: normal;
  color: white;
}